body {
  background-image: url(../../assets/stars.png);

  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 16s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 100%;
  }
  to {
    background-position: -100px 0px;
    background-size: 95%;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 100%;
  }
  to {
    background-position: -100px 0px;
    background-size: 95%;
  }
}

.header p {
  font-family: "Antonio", sans-serif;
  color: white;
  font-size: 28px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 28px;
}
.header img {
  height: 18px;
  opacity: 0.25;
}

body {
  background-color: #070724;
  margin: 0;
  padding: 0;
}

.hr-head {
  opacity: 0.2;
}
.hr-desk {
  display: none;
}

.nav-item:nth-child(1) {
  margin-top: 48px;
}
@media (min-width: 768px) {
  .header img {
    display: none;
  }
  .hr-head {
    display: none;
  }
  .header p {
    margin: auto;
  }
  .header {
    margin-top: 60px;
    margin-bottom: 44px;
  }

  .nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    display: inline-block;
    margin-right: 10px;
  }

  .hr-desk {
    display: block;
    opacity: 0.2;
    margin-top: 32px;
  }
  .nav-item:nth-child(1) {
    margin-top: 0;
  }
}

@media (min-width: 1336px) {
  .main {
    display: flex;
    justify-content: space-between;
  }
  .hr-desk {
    margin-top: -16px;
    margin-bottom: 126px;
  }
}
