:root {
  --distance: 0px;
  --speed: 1s;
}
@keyframes motion {
  0% {
    transform: rotate(360deg) translateX(var(--distance));
  }
  100% {
    transform: rotate(0deg) translateX(var(--distance));
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 0 3px rgb(255, 131, 23), 0 0 0 5px rgb(255, 140, 40);
    transform: rotate(360deg);
  }
  50% {
    box-shadow: 0 0 0 5px rgb(255, 140, 40), 0 0 0 12px rgb(255, 165, 80),
      0 0 0 21px rgb(255, 200, 160), 0 0 0 38px rgb(255, 222, 212),
      0 0 0 50px rgb(255, 242, 238);
  }
  60% {
    box-shadow: 0 0 0 5px rgb(255, 140, 40), 0 0 0 12px rgb(255, 165, 80),
      0 0 0 21px rgb(255, 200, 160), 0 0 0 38px rgb(255, 222, 212),
      0 0 0 50px rgb(255, 242, 238);
  }
  100% {
    box-shadow: 0 0 0 3px rgb(255, 131, 23), 0 0 0 5px rgb(255, 140, 40);
    transform: rotate(0);
  }
}
.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.first-page div {
  border-radius: 50%;
}
.sun {
  height: 50px;
  width: 50px;
  background: rgb(255, 105, 0);
  position: absolute;
  animation: glow 5s ease-in-out infinite;
}
.planet {
  position: absolute;
  transform: rotate(0deg) translateX(var(--distance));
  animation: motion linear var(--speed) infinite;
}
.mercury {
  --speed: 2.41s;
  --distance: 38.7px;
  height: 5px;
  width: 5px;
  background: rgb(133, 10, 10);
}
.venus {
  --speed: 6.15s;
  --distance: 72.3px;
  height: 12px;
  width: 12px;
  background: rgb(224, 133, 67);
}
.earth {
  --speed: 10s;
  --distance: 100px;
  height: 15px;
  width: 15px;
  background: rgb(25, 44, 255);
}
.mars {
  --speed: 18.8s;
  --distance: 152px;
  height: 8px;
  width: 8px;
  background: rgb(218, 81, 39);
}
.jupiter {
  --speed: 119s;
  /*     --distance: 520px; */
  --distance: 250px;

  height: 75px;
  width: 75px;
  background: rgb(213, 178, 152);
  box-shadow: 0 0 0 5px white, 0 0 0 7px rgba(213, 178, 152, 0.869),
    0 0 0 12px white, 0 0 0 22px rgba(213, 178, 152, 0.273), 0 0 0 24px white,
    0 0 0 34px rgba(213, 178, 152, 0.23);
}
.saturn {
  --speed: 294s;
  /* --distance: 957px; */
  --distance: 450px;

  width: 65px;
  height: 65px;
  background: rgb(214, 145, 96);
  box-shadow: 0 0 0 3px rgb(255, 255, 255),
    0 0 0 17px rgba(209, 177, 152, 0.304), 0 0 0 13px rgb(255, 255, 255),
    0 0 0 30px rgba(185, 111, 54, 0.335), 0 0 0 33px rgb(255, 255, 255),
    0 0 0 40px rgba(209, 177, 152, 0.261), 0 0 0 38px rgb(255, 255, 255),
    0 0 0 41px rgba(185, 111, 54, 0.335);
}
.uranus {
  --speed: 837s;
  /* --distance: 1917px; */
  --distance: 680px;

  height: 40.1px;
  width: 40.1px;
  background: rgb(165, 176, 192);
  box-shadow: 0 0 0 7px rgb(255, 255, 255), 0 0 0 8px rgba(112, 67, 227, 0.53),
    0 0 0 8.5px rgb(255, 255, 255), 0 0 0 10.5px rgba(37, 42, 192, 0.279);
}
.neptune {
  --speed: 1637s;
  /* --distance: 3018px; */
  --distance: 780px;

  height: 30px;
  width: 30px;
  background: rgb(49, 91, 191);
  box-shadow: 0 0 0 7px rgb(255, 255, 255), 0 0 0 7.8px rgba(112, 67, 227, 0.53),
    0 0 0 11px rgb(255, 255, 255), 0 0 0 11.8px rgba(37, 42, 192, 0.279),
    0 0 0 15px rgb(255, 255, 255), 0 0 0 15.8px rgba(37, 42, 192, 0.279);
}
.pluto {
  --speed: 2479s;
  /* --distance: 3948px; */
  --distance: 850px;

  height: 1.87px;
  width: 1.87px;
  background: rgb(111, 109, 108);
}
