.item {
  display: flex;
  justify-content: space-between;
  padding: 36px;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 24px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.planets-list {
  display: flex;
}

.item img {
  height: 14px;
  margin-top: 4px;
}

.hr-items {
  opacity: 0.1;
  margin: 0 36px;
}
.names-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .names-wrapper {
    display: block;
  }
  body {
    padding-top: 0;
  }
  .circle,
  .hr-items,
  .item img {
    display: none;
  }

  .nav-btn {
    font-size: 16px;
    margin: 0 0.6vw;
  }

  .item {
    padding: 0;
  }
}

@media (min-width: 1336px) {
  .nav-btn {
    border-top: 4px solid transparent;
    padding-top: 64px;
    margin-top: -50px;
    opacity: 0.75;
  }

  .nav-btn:hover {
    border-top: 4px solid;
    cursor: pointer;
    opacity: 1;
  }
}
