.main-section {
  text-align: center;
  color: white;
  font-family: "League Spartan", sans-serif;
}
h2 {
  font-family: "Antonio", sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}

.planet-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.planet {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  margin: 0 10px;
}

.planet.active {
  background-color: #ccc;
  color: #333;
}

.planet-details {
  margin: 0 auto;
}

.section-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: -7px;
  margin-top: -22px;
}

.section-buttons button {
  padding: 8px 16px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 0 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
  padding-bottom: 18px;
}

.section-buttons button.active {
  color: white;
  opacity: 1;
  border-bottom: 4px solid;
}
.section-content {
  margin-top: 10px;
}
.section-content.show {
  display: block;
}

.section-content h3 {
  margin-bottom: 10px;
}

.section-content p {
  margin-bottom: 10px;
  line-height: 40px;
  margin: 0 6vw;
  opacity: 0.9;
  margin-bottom: 40px;
}

.section-content a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: underline;
}

.planet-img {
  width: 200px;
  margin: 100px 0;
}
.hr-buttons {
  opacity: 0.2;
}
.section-content .images {
  position: relative;
  display: flex;
  justify-content: center;
}
.images {
  display: flex;
  justify-content: center;
}
.images img:nth-child(2) {
  position: absolute;
  width: 70px;
  margin-top: 240px;
  margin-bottom: 100px;
}

.source {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  margin-top: 500px;
  align-items: center;
}

.source a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  margin: 0 6px;
}

.source img {
  height: 12px;
  width: 12px;
  margin: 0 4px;
}
.planet-details {
  display: none;
}
.small-screen-style {
  display: block;
}
.section-buttons-desk {
  display: none;
}
@media (min-width: 768px) {
  .section-buttons-desk {
    display: block;
  }
  .hr-buttons {
    display: none;
  }
  .section-buttons {
    display: none;
  }
  .planet-details {
    display: block;
  }
  .section-content {
    text-align: start;
  }
  .section-content h2 {
    margin: 0 6vw;
  }
  .section-content p {
    width: 368px;
    font-size: 14px;
    margin-top: 24px;
  }

  .source {
    justify-content: start;
  }
  .planet-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "planet-img planet-img"
      "section-content section-buttons"
      "footer footer";
  }

  .planet-img {
    grid-area: planet-img;
    margin: auto;
    width: 400px;
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .section-content {
    grid-area: section-content;
  }

  .section-buttons-desk {
    grid-area: section-buttons;
    margin-left: auto;
    margin-right: 6vw;
  }
  .section-buttons-desk button {
    padding: 8px 16px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    margin: 0 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-auto-flow: row;
    width: 32vw;
    display: flex;
    margin: 16px 0;
  }
  .section-buttons-desk button.active {
    border: none;
  }
  .section-buttons-desk button p:nth-child(1) {
    margin-right: 20px;
  }

  .footer {
    grid-area: footer;
    height: 92px;
  }
  .images {
    grid-area: planet-img;
    display: flex;
    justify-content: center;
  }

  .images img:nth-child(2) {
    width: 120px;
    margin-top: 440px;
  }
}

@media (min-width: 1336px) {
  .planet-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "planet-img section-content"
      "planet-img section-buttons"
      "footer footer";
    margin: 0 10vw;
  }

  .footer {
    grid-area: footer;
  }

  .planet-img {
    grid-area: planet-img;
    width: 430px;
    margin-top: 20px;
    height: 430px;
  }

  .section-content {
    grid-area: section-content;
    margin: 0;
  }

  .section-buttons-desk {
    grid-area: section-buttons;
    margin-left: 6vw;
  }
  .section-content p {
    font-size: 17.5px;
    width: 30vw;
  }

  .section-buttons-desk button {
    width: 30vw;
  }

  .images img:nth-child(2) {
    width: 130px;
    margin-top: 360px;
  }
}
